<?xml version="1.0" encoding="utf-8"?>
<manifest package="tw.cchi.handicare"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Declare this required feature bluetooth_le if you want to make the app available to BLE-capable
        devices only.  If you want to make your app available to devices that don't support BLE,
        you should omit this in the manifest.  Instead, determine BLE capability by using
        PackageManager.hasSystemFeature(FEATURE_BLUETOOTH_LE) -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-feature android:name="android.hardware.usb.host"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- For bluetooth device scanning -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.VIBRATE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->

    <application
        android:name=".MvpApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.shock.ShockActivity"/>
        <activity android:name=".ui.menu.MenuActivity">
        </activity>
        <activity android:name=".ui.VibrationActivity">
        </activity>
        <activity android:name=".ui.preferences.PreferencesActivity">
        </activity>
        <activity android:name=".ui.detection.DetectionActivity"/>

        <service android:name=".service.ble.BLEService" android:enabled="true"/>
        <service android:name=".service.bluno.BlunoLibraryService" android:enabled="true"/>
    </application>

</manifest>
